html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: none;
  box-sizing: none; }

body {
  padding: 0;
  margin: 0; }

#mainContent {
  position: relative;
  width: 300px;
  height: 250px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  border: 1px solid #ccc;
  background: #FDE29D; }

div,
img {
  position: absolute; }

.hide {
  opacity: 0; }

#bgContainer {
  width: 286px;
  height: 236px;
  bottom: 0;
  right: 0;
  overflow: hidden; }

#bg {
  top: 0px;
  left: 0px;
  width: 848px;
  height: 250px;
  background: url("../img/bg.jpg") repeat-x; }

#logo {
  top: 25px;
  left: 239px; }

#logoTint {
  top: 12px;
  left: 211px; }

#copyOne {
  top: 34px;
  left: 16px;
  -webkit-transform: translateX(-300px);
  -ms-transform: translateX(-300px);
  transform: translateX(-300px); }

#copyTwo {
  top: 101px;
  left: 123px;
  -webkit-transform: translateX(-300px);
  -ms-transform: translateX(-300px);
  transform: translateX(-300px); }

#cta {
  top: 162px;
  left: 124px; }

#bgExit {
  position: absolute;
  width: 300px;
  height: 250px;
  top: 0px;
  left: 0px;
  cursor: pointer; }
